body {
            font-family: Arial !important;
            direction: rtl;
            margin: 0 auto;
            
        }

#box{
    font-family: 'Assistant', sans-serif;
    font-weight:bold;
    display:block;
    overflow:auto;
    height:50px;
    background-color:#FCCB84;
    margin:0 auto;
   padding:30px;
    margin-top:300px;
text-align:center;
}

div#passwordDiv {
    margin-right:30px;
    margin-top:10px;
}

#Label1, #Label2{
    font-size:11pt;
    padding-left:10px;
}

#submitBtn{
    border-radius:14px;
            border:none;
            font-size:12pt;
            font-weight:bold;
            height:25px;
            background-color:#dbdbdb;
}

#enter{
   
    text-align:center;
    margin-right:50px;
    margin-top:10px;

}

.feedback{
    font-size:10pt;
    color:darkred;
    text-align:center;
}
